<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Not found!</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .img-404 {
            height: 90vh;
            width: 100vw;
            background-image: url(/images/404.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        a {
            width: fit-content;
            font-size: 2rem;
            text-decoration: none;
            background-color: rgb(106, 176, 255);
            padding: 1rem 2rem;
            border-radius: 1rem;
            color: white;
            display: block;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="img-404">
    </div>
    <a href="/">Back to home</a>
</body>

</html>