<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

    <main class="d-flex flex-column p-5" style="padding-top: 6rem !important;">
      <section class="d-flex mt-5 reponsive-about-us">
        <div data-aos="fade-right" class="d-flex justify-content-center align-items-center font-weight-bold"
          style="min-width: 500px; font-size: large;">
          About us.<br>
          Our team.<br>
          Press.
        </div>
        <div data-aos="fade-left">
          <h1>ABOUT US.</h1>
          <p class="text-secondary">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id illum magni, ullam inventore sapiente
            reiciendis,
            voluptates tempora autem harum voluptatum aut pariatur, perspiciatis quia ratione placeat laborum? A
            quia officiis
            distinctio, cum totam odit culpa maiores? Inventore vero perferendis ut explicabo molestias, eveniet
            beatae nobis
            dignissimos ipsa reprehenderit ratione alias? Mollitia, laborum. Nihil nobis quibusdam, error a
            labore tenetur sit!</p>
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto, impedit
            veritatis voluptates
            cupiditate
            at nesciunt laboriosam cumque, nulla quidem dolor nostrum, minus nam tempore. Qui, fuga quis cum
            eveniet
            neque nesciunt reprehenderit temporibus vel maxime facilis iure ab itaque natus, quod libero officia
            quam
            nisi consectetur magni, dolorum aut deserunt maiores! Quas distinctio non sed dolore mollitia
            inventore,
            amet quos excepturi doloremque aliquam quod, sapiente laudantium repellendus illo blanditiis numquam
            ad
            ipsum neque ipsam sequi placeat? Perspiciatis aspernatur soluta ad, est natus vero unde? Quos, enim!
            Aperiam
            eius ex provident, beatae exercitationem laborum optio aliquam vel fuga reprehenderit at!</p>
        </div>
      </section>
      <section class="mt-5">
        <div data-aos="fade-up" class="bg-aboutus"></div>
        <div class="d-flex mt-3 reponsive-about-us">
          <div data-aos="fade-right" class="aboutus-quote flex-grow-1">

          </div>
          <div data-aos="fade-left" class="aboutus-quote-2">

          </div>
        </div>
      </section>
      <section class="mt-5 d-flex align-items-center reponsive-about-us">
        <div class="d-flex flex-column mr-2" data-aos="fade-right">
          <div class="d-flex justify-content-between ">
            <div class="rounded img-hover-zoom">
              <img class="img-ceo "
                src="https://vtv1.mediacdn.vn/thumb_w/650/2020/11/30/bill-gates-16066721591961015245718.jpg" alt="">
            </div>
            <div class="rounded img-hover-zoom">
              <img class="img-ceo "
                src="https://cafebiz.cafebizcdn.vn/162123310254002176/2021/5/18/photo-1-16213054287581003308819.jpg"
                alt="">
            </div>
          </div>
          <div class="d-flex" style="width: fit-content;">
            <div class="rounded img-hover-zoom">
              <img class="img-ceo "
                src="https://vnn-imgs-a1.vgcloud.vn/znews-photo.zadn.vn/w660/Uploaded/reyxqqskxq/2019_11_07/1.jpg"
                alt="">
            </div>
            <div class="rounded img-hover-zoom">
              <img class="img-ceo "
                src="https://media.vneconomy.vn/w800/images/upload/2021/04/20/1-16123180393701212189265-73-0-2419-4176-crop-1612318046258541728110.jpg"
                alt="">
            </div>
          </div>
        </div>

        <div class="ml-2" data-aos="fade-left">
          <h1>THE TEAM.</h1>
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis natus
            hic facilis reprehenderit saepe magni molestias dolorem ipsam aspernatur dolor quo est fuga, quos
            nulla minima mollitia debitis ab ut quasi cupiditate. Ex, magnam deleniti harum tempore, distinctio
            atque blanditiis architecto iste perspiciatis pariatur odit, rem aut illum mollitia eum sequi error
            officia aliquam quam ab repellendus ullam facilis laudantium explicabo! A assumenda atque magnam
            totam modi ipsam, placeat eveniet id doloremque nisi porro iste.</p>
          <p class="text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore doloremque
            doloribus est consectetur explicabo pariatur, eum laborum numquam dicta eligendi odio alias
            sed in laboriosam fugiat vel tempore pariatur mollitia nobis, labore fuga facilis minus? Autem atque
            eos minima nemo aliquid quia saepe deserunt quidem impedit quasi! Quasi cumque quam tenetur labore
            ipsa quo, possimus itaque architecto maxime rerum exercitationem consequatur, reprehenderit ipsum,
            ducimus assumenda necessitatibus perferendis. Tempore recusandae quidem maxime optio quasi nisi,
            ipsam ipsum velit natus, dolor perferendis? Eligendi fugit quidem assumenda non iure.</p>
          <div data-aos="fade-up" class="d-flex">
            <div class="summary">
              <p class="h2">600</p>
              <p class="h6">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="summary">
              <p class="h2">1515</p>
              <p class="h6">Lorem perferendis distinctio nisi.</p>
            </div>
            <div class="summary">
              <p class="h2">595</p>
              <p class="h6">Amet, maxime, repudiandae sit amet.</p>
            </div>
            <div class="summary">
              <p class="h2">6</p>
              <p class="h6">Lutem dolore eos nisi placeat quod.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>