<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>

    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat mollitia
      aspernatur recusandae et voluptate nihil, corrupti obcaecati aliquid
      deleniti ab veritatis corporis facere culpa! Voluptate magni accusantium
      optio ut quod. Ad iusto perferendis non ratione, explicabo eveniet
      corrupti maxime nobis magni rerum ut voluptate vero quia exercitationem!
      Eius repellendus rem quo molestias, labore, sapiente fugiat, consequatur
      consequuntur esse sed libero. Nisi alias assumenda corporis commodi optio
      officia libero, hic magnam dolores tenetur, voluptatum maiores voluptas
      quia consectetur, eius obcaecati blanditiis neque minima! Labore suscipit,
      aliquam reprehenderit enim non iste voluptatibus! Recusandae, iure. Ea
      consequuntur beatae voluptates libero labore neque nam a nihil enim
      adipisci. Nemo dolore totam veniam mollitia pariatur quia quos, ex, labore
      rerum facilis vero delectus, unde earum. Sit doloremque recusandae nostrum
      numquam eos earum corporis dolorum vel fugit dignissimos nisi illo
      consequatur quas, sunt autem. Similique nobis minus earum excepturi
      architecto perspiciatis accusantium tempora, temporibus cupiditate
      ratione?
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
