<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shoes Shop</title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- My CSS -->
  <link rel="stylesheet" href="../css/login.css" />
</head>

<body>
  <main>
    <div class="container-login text-center p-1">
      <div>
        <a href="/" class="link-text">
          <i class="fa fa-home mr-3"></i>Back to home
        </a>
      </div>
      <div class="header-login w-100">
        <h1>Login to Your Account</h1>
        <h6>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
          reiciendis!
        </h6>
      </div>
      <% if(error) { %>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>
      <div class="
            login-form-container
            d-flex
            justify-content-between
            align-items-center
            flex-wrap
            w-100
          ">
        <form class="
              login-with-account
              flex-grow-1 flex-shrink-1
              d-flex
              flex-column
              justify-content-center
              align-items-center
            " method="POST" action="/user/login?redirect=<%= redirect  %>">
          <input type="text" id="username" name="username" placeholder="Username" />
          <input type="password" id="password" name="password" placeholder="Password" />
          <button type="submit" class="
                btn-my-style
                d-flex
                justify-content-between
                align-items-center
              ">
            Login to Your Account
            <i class="fa fa-sign-in-alt"></i>
          </button>
        </form>
        <p class="text-white-50 h5">Or</p>
        <div class="
              login-with-social
              flex-grow-1 flex-shrink-1
              d-flex
              flex-column
              justify-content-center
              align-items-center
            ">
          <button class="btn-my-style-wrap-2" data-toggle="modal" data-target="#exampleModal">
            <div class="btn-my-style-2">
              <i class="fab fa-google mr-3"></i>Sign in with Google
            </div>
          </button>
          <button class="btn-my-style-wrap-1" data-toggle="modal" data-target="#exampleModal">
            <div class="btn-my-style-2">
              <i class="fab fa-facebook-f mr-3"></i>Sign in with Facebook
            </div>
          </button>
          <button class="btn-my-style-wrap-2" data-toggle="modal" data-target="#exampleModal">
            <div class="btn-my-style-2">
              <i class="fab fa-apple mr-3"></i>Sign in with Apple Account
            </div>
          </button>
        </div>
      </div>
      <a href="#" class="text-white-50 h5">Fogot Password??</a>
      <a href="./register" class="h5" style="color: rgba(252, 176, 69, 1)">Create an account for shopping...</a>
      <div class="login-footer m-5">&copy Copyright by ShoesShop</div>
    </div>
    <div>      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-0">
            <div class="d-flex flex-row container align-items-center">
              <h3 class="flex-grow-1" style="flex-grow: 1 !important;" id="exampleModalLabel">Notice</h3>
              <button class="bg-danger d-flex justify-content-center align-items-center p-2" style="width: 50px !important;" data-dismiss="modal" aria-label="Close">
                &times;
              </button>
            </div>
            <div class="modal-body h5 pt-5 pb-5">
              Function in progress...
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="/js/script.js"></script>
</body>

</html>