<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shoes Shop</title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- My CSS -->
  <link rel="stylesheet" href="../css/login.css" />
</head>

<body>
  <main>
    <div class="container-login text-center p-1">
      <div>
        <a href="/" class="link-text">
          <i class="fa fa-home mr-3"></i>Back to home
        </a>
      </div>
      <div class="header-login w-100">
        <h1>Create an Account</h1>
        <h6>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
          reiciendis!
        </h6>
      </div>
      <% if(error) { %>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>
          <div class="
            login-form-container
            d-flex
            justify-content-between
            align-items-center
            flex-wrap
            w-100
          ">
            <form class="
              login-with-account
              flex-grow-1 flex-shrink-1
              d-flex
              flex-column
              justify-content-center
              align-items-center
            " method="POST" action="/user/register">
              <div class="d-flex">
                <div class="d-flex flex-column align-items-start">
                  <label for="username" class="ml-3 mb-0">Username</label>
                  <input class="mt-1" type="text" id="username" name="username" placeholder="Username" required />
                </div>
                <div class="d-flex flex-column align-items-start">
                  <label for="password" class="ml-3 mb-0">Password</label>
                  <input class="mt-1" type="password" id="password" name="password" placeholder="Password" required />
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex flex-column align-items-start">
                  <label for="fullname" class="ml-3 mb-0">Full name</label>
                  <input class="mt-1" type="text" id="fullname" name="fullname" placeholder="Full name" required />
                </div>
                <div class="d-flex flex-column align-items-start">
                  <label for="email" class="ml-3 mb-0">Email</label>
                  <input class="mt-1" type="email" id="email" name="email" placeholder="Email" required />
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex flex-column align-items-start">
                  <label for="phoneNumber" class="ml-3 mb-0">Phonenumber</label>
                  <input class="mt-1" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" required />
                </div>
                <div class="d-flex flex-column align-items-start">
                  <label for="address" class="ml-3 mb-0">Address</label>
                  <input class="mt-1" type="text" id="address" name="address" placeholder="Your address" required />
                </div>
              </div>
              <div>
                <button type="submit" class="
                      btn-my-style
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                  Register an Account
                  <i class="fa fa-sign-in-alt"></i>
                </button>
              </div>
              </table>
            </form>
          </div>
          <a href="./login" class="h5" style="color: rgba(252, 176, 69, 1)">Login with your account...</a>
          <div class="login-footer m-5">&copy Copyright by ShoesShop</div>
    </div>
  </main>

  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="./js/script.js"></script>
</body>

</html>