<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header2'); %>

    <main style="z-index: 0; padding-top: 10px;">
      <div>
        <%= query %> 
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
