<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

    <main style="top: 0px" style="z-index: 0">

    </main>

    <%- include('../partials/footer'); %>
</body>

</html>