<div class="d-flex flex-row justify-content-between bg-dark text-light p-5">
<!--Bắt Đầu Nội Dung Giới Thiệu-->
<div class="w-25">
    <h2>Về Chúng Tôi</h2>
    <p class="text-justify pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus eos, dolore culpa sapiente expedita ipsum quo veritatis aperiam? Nesciunt debitis, alias maiores voluptatibus excepturi optio aspernatur laborum quibusdam, pariatur at eveniet minus tempore tenetur consequatur molestiae commodi fugit ea. Omnis labore vitae harum vel nisi quae quasi aut quisquam.</p>
    <ul class="pl-3 social-icon list-unstyled d-flex justify-content-between">
    <li>
        <a href="#"><i class="fa fa-facebook fa-2x text-light" ></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-twitter fa-2x text-light"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-instagram fa-2x text-light"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-youtube fa-2x text-light"></i></a>
    </li>
    </ul>
</div>

<div class="w-25">
    <h2>Đường Dẫn</h2>
    <ul class="list-unstyled pl-3">
    <li><a href="#" class="text-light">Trang Chủ</a></li>
    <li><a href="#" class="text-light"">Về Chúng Tôi</a></li>
    <li><a href="#" class="text-light"">Thông Tin Liên Lạc</a></li>
    <li><a href="#" class="text-light"">Dịch Vụ</a></li>
    <li><a href="#" class="text-light"">Điều Kiện Chính Sách</a></li>
    </ul>
</div>

<div class="w-25">
    <h2>Thông Tin Liên Hệ</h2>
    <ul class="list-unstyled pl-3">
    <li>
        <span><i class="fa fa-map-marker"></i></span>
        <span>
        Đường Số 1<br />
        Quận 1, Thành Phố Hồ Chí Minh<br />
        Việt Nam</span>
    </li>
    <li >
        <span span><i class="fa fa-phone"></i></span>
        <span>
        +84 123 456 789
        </span>
    </li>
    <li>
        <span><i class="fa fa-envelope"></i></span>
        <span>
        <a href="mailto:emailaddress@gmail.com" class="text-light">diachiemail@gmail.com</a>
        </span>
    </li>
    <li class="pt-3">
        <form class="form d-flex">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email">
            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
    </li>
    </ul>
</div>
</div>