<footer class=" text-white pt-5 pr-5 pl-5 pb-1 reponsive-text-center"
  style="padding-bottom: 0px; background-color: #212529 ;">
  <div class="d-flex flex-row flex-reponsive">
    <div class="flex-grow d-flex flex-column align-items-center">
      <a href="#">
        <div class="logo circle"></div>
      </a>
      <p class="text-warning h4 text-center">Subscribe More Info</p>
      <form class="w-75 form-subscribe">
        <input type="email" placeholder="Enter your email" />
        <button>Subscribe</button>
      </form>
    </div>
    <div class="flex-grow">
      <p class="text-warning h3">Information</p>
      <ul class="style-type-none">
        <li><a href="#" class="link-nav">About us</a></li>
        <li><a href="#" class="link-nav">More Search</a></li>
        <li><a href="#" class="link-nav">Blogs</a></li>
        <li><a href="#" class="link-nav">Supports</a></li>
      </ul>
    </div>
    <div class="flex-grow">
      <p class="text-warning h3">Products</p>
      <ul class="style-type-none">
        <li><a href="#" class="link-nav">Men</a></li>
        <li><a href="#" class="link-nav">Women</a></li>
        <li><a href="#" class="link-nav">Kids</a></li>
        <li><a href="#" class="link-nav">Sports</a></li>
      </ul>
    </div>
    <div class="flex-grow">
      <div>
        <p class="text-warning h3">About us</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          ipsam dolorum consequatur? Suscipit?
        </p>
      </div>
      <div class="d-flex flex-column">
        <p class="text-warning h3">Contact us</p>
        <a href="tel:0123456789" class="text-white"><i class="fas fa-phone mr-2" style="color: #ffc107"></i>
          0123456789</a>
        <a href="mailto:shoes@mail.com" class="text-white"><i class="fas fa-envelope mr-2" style="color: #ffc107"></i>
          shoes@mail.com</a>
      </div>
    </div>
  </div>
  <hr class="bg-light" style="height: 0.05rem" />
  <div class="d-flex w-100 justify-content-center">
    <a href="#">
      <img class="m-2 circle" style="height: 2rem; display: inline-block"
        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" />
    </a>
    <a href="#">
      <img class="m-2 circle" style="height: 2rem; display: inline-block"
        src="https://cdn.iconscout.com/icon/free/png-256/google-2981831-2476479.png" />
    </a>
    <a href="#">
      <img class="m-2 circle" style="height: 2rem; display: inline-block"
        src="https://image.flaticon.com/icons/png/512/124/124021.png" />
    </a>
    <a href="#">
      <img class="m-2 circle" style="height: 2rem; display: inline-block"
        src="https://cdn.iconscout.com/icon/free/png-256/instagram-1868978-1583142.png" />
    </a>
  </div>
  <div class="text-center">
    <p>&copy Copyright by ShoesShop</p>
  </div>
</footer>

<a href="#" class="back-to-top" hidden></a>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="/js/script.js"></script>