<div id="top"></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#e3f2fd" >
        <tr bgcolor="#F4FBEB">
        <td width="21%" valign="top">
            <a href="/"><img src="/images/LogotypeKvitka.gif" width="205" height="102" /></a>
        </td>

        <td width="28%" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td><span class="style5">(08) 9891234 </span></td>
                </tr>
                <tr>
                    <td><span class="style10">(Giờ mở cửa: 8:00 - 22:00 mỗi ngày) </span></td>
                </tr>
                <tr>
                    <td><span class="style10"><img src="/images/IconMail.gif" width="16" height="16" /> <a
                                href="/ktphuong@hcmuns.edu.vn">ktphuong@hcmuns.edu.vn </a></span></td>
                </tr>
                <tr>
                    <td><span class="style10"><img src="/images/online0.gif" width="18"
                                height="18" />hoadep.com.vn</span></td>
                </tr>
            </table>
        </td>

        <td width="24%" valign="top">
            <table width="100%" border="0">
                <tr>
                    <td valign="top">
                        <div align="center" class="style5"> Có thể thanh toán bằng</div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div align="center" class="style10">
                            <img src="/images/IconCardMasterCard.gif" width="37" height="23" />
                            <img src="/images/IconCardVisaE.gif" width="37" height="23" />
                            <img src="/images/IconCardVisa.gif" width="37" height="23" />
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/loaihoa">Danh sách loại hoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/hoa">Danh sách hoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cart">Giỏ hàng</a>
            </li>
        </ul>
        <form class="form-inline my-2 mr-5" method="GET" action="/search">
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Nhập tên hoa cần tìm" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
        </form>
    </div>
</nav>
<div class="position-fixed" style="right: 10px; bottom: 10px;"><a href="#top"><i class="fa fa-chevron-circle-up fa-4x"></i></a></div>